* {
    margin: 0.1;
    padding: 0;
}

.cabecalho {
    padding: 15px 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: red;
}

.cabecalho-link {
    color: white;
    text-decoration: none;
}

.cartao {
    width: 260px;
    height: 200px;
}

.cartao-frente, .cartao-verso {
    width: 100%;
}

.cartao-imagem {
    width: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: pink;
}

main {
    flex: 1;
}

h1 {
    color: white;
    font-size: 24px;
}

footer {
    background-color: black;
    color: white;
    padding: 15px 25px;
}